*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}
:root{
    --neutral-color-1: #ffffff;
    --neutral-color-1_7: hsla(0, 0%, 100%, 0.7);

    --neutral-color-2: #000000;
    --neutral-color-2_5: hsla(0, 0%, 0%, 0.5);
    --neutral-color-2_8: hsla(0, 0%, 0%, 0.8);

    --neutral-color-3: #111827;
    --neutral-color-3_4: #9CA3AF;
    --neutral-color-3_5: #6B7280;
    --neutral-color-3_6: #4B5563;
    --neutral-color-3_8: #1F2937;


    
    --color-1: #BE123C;

    /* light blue */
    --color-2_05: #F0F9FF;
    --color-2_1: #E0F2FE;
    --color-2_2: #BAE6FD;
    --color-2_3: #7DD3FC;
    --color-2_4: #38BDF8;
    --color-2_5: #0EA5E9;
    --color-2_6: #0284C7;
    --color-2_7: #0369A1;
    --color-2_8: #075985;
    --color-2_9: #0C4A6E;
}
a{
    color: var(--neutral-color-1);
    text-decoration: none;
}

header{
    width: 100%;
}

main{
    padding: 0 2vw;
    width: 100%;
}