.movies-by-theme{
    position: relative;
    width: 100%;
    margin-top: 2.5rem;
    padding: 0 4.44vw;
}

.movies-by-theme .theme{
    font-size: 2.25rem;
    font-weight: bold;
}

.movies-by-theme .controller{
    position: absolute;

    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.movies-by-theme .controller .backwards, .movies-by-theme .controller .forwards{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    cursor: pointer;
}
.movies-by-theme .controller .backwards{
    transform: rotate(180deg);
}

.movies-by-theme .controller .backwards img, .movies-by-theme .controller .forwards img{
    height: 2rem;
}

.movies-by-theme .rail{
    position: relative;
    overflow-x: hidden;
    width: 100%;
    margin-top: 1.5rem;
    z-index: 100;
}

.movies-by-theme .movie-list{
    list-style-type: none;

    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(20, 20%);
    column-gap: 6.66%;
    transition: margin-left 1s ;
}

.movies-by-theme .movie-link{
    color: var(--neutral-color-2);
}

.movies-by-theme .movie-list .movie{
    cursor: pointer;
}

.movies-by-theme .movie-list .cover-wppr{
    display: block;
    width: 100%;
}

.movies-by-theme .movie-list .movie .cover{
    width: 100%;
    height: auto;
}

.movies-by-theme .release-date{
    font-size: .75rem;
    font-weight: 900;
    color: var(--neutral-color-3_4)
}

.movies-by-theme .movie-title{
    font-size: 1.12rem;
    font-weight: bold;
}

.movies-by-theme .reviews{
    width: 100%;
}

.movies-by-theme .reviews .IMDb-review .IMDb-icon{
    height: 1.2rem
}

.reviews .IMDb-review .IMDb-result{
    font-size: 1rem;
}

.movies-by-theme .generes{
    font-size: 1rem;
    color: var(--neutral-color-3_4);
}

@media (max-width: 900px){

    .movies-by-theme .theme{
        font-size: 2rem;
    }

    .movies-by-theme .movie-list{
        grid-template-columns: repeat(20, 30%);
        column-gap: 5%
    }
}

@media (max-width: 656px){
    .movies-by-theme .rail-wppr{
        position: relative;
    }

    .movies-by-theme .controller{
        z-index: 100;
    }

    .movies-by-theme .controller .backwards{
        margin-left: -2rem;
    }

    .movies-by-theme .controller .forwards{
        margin-right: -2rem;
    }

    .movies-by-theme .movie-list .movie .movie-datas{
        display: none;
    }
}

@media (max-width: 515px){
    .movies-by-theme .controller .backwards img, .movies-by-theme .controller .forwards img{
        height: 1.5rem;
    }

    .movies-by-theme .controller .backwards{
        margin-left: -1.5rem;
    }

    .movies-by-theme .controller .forwards{
        margin-right: -1.5rem;
    }
}

@media (max-width: 370px){
    .movies-by-theme{
        padding: 0;
    }

    .movies-by-theme .rail{
        overflow-x: scroll;
    }
    /* hidden only the scroll bar */
    .movies-by-theme .rail{
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .movies-by-theme .rail::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    .movies-by-theme .movie-list{
        grid-template-columns: repeat(20, 26%);
        column-gap: 2%;
    }
    
    .movies-by-theme .controller{
        display: none;
    }
}