.main-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    
    margin-top: 5rem;
    padding-bottom: 3rem;
}


.main-footer .contact-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.main-footer .contact-options a i{
    font-size: 1.5rem;
    color: var(--neutral-color-3);
}

.main-footer .terms-and-conditions{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.main-footer .terms-and-conditions a{
    color: var(--neutral-color-3);
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
    margin: 0;
}

.main-footer .authors a{
    color: var(--neutral-color-3_5);
    font-weight: bold;
}
